<!DOCTYPE html>
<html>
    <head>
        <title>Document Selection</title>
    </head>
    <body>
        <div>
            <p>Create a new Text Document</p>
            <input type="button" value="Create a New Doc" onclick="window.location='/editor{{documents[0].id + 1}}';">
        </div>
        {% for doc in documents %}
        <div>
            <p id="docId">{{doc.id}}</p>
            <p id="docName">{{doc.name}}</p>
            <input type="button" value="Edit Document" onclick="window.location='/editor{{doc.id}}';">
        </div>
        {% endfor %}
        <script src="./static/index.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </body>
</html>